openapi: 3.2.0
info:
  title: FMCS Public Content API (WordPress REST) Pages API
  version: wp/v2
  summary: The anonymous, read-only WordPress REST API serving www.fmcs.gov content — posts, programme pages, the document media library, the neutrals directory, events and the FMCS service taxonomy.
  description: The Federal Mediation and Conciliation Service publishes no developer programme, no API documentation and no machine-readable specification of its own.
  contact:
    name: FMCS Office of Public Affairs
    url: https://www.fmcs.gov/contact-us/
  license:
    name: U.S. Government Work (17 U.S.C. Sec. 105) — see FMCS website policies
    url: https://www.fmcs.gov/website-policies/
  x-provenance:
    method: derived
    source: https://www.fmcs.gov/wp-json/
    derived: '2026-09-09'
    verbatim_source_file: openapi/federal-mediation-and-conciliation-service-wp-routes-original.json
    note: Derived by API Evangelist from the live WordPress route discovery document served by www.fmcs.gov. Not authored, published or endorsed by FMCS.
servers:
- url: https://www.fmcs.gov/wp-json
  description: WordPress REST root for www.fmcs.gov. Verified reachable and 200 on 2026-09-09 with no credentials.
security:
- {}
tags:
- name: Pages
  description: Programme, services and administrative pages.
paths:
  /wp/v2/pages:
    get:
      operationId: listPages
      summary: List FMCS site pages
      description: The structural pages of www.fmcs.gov — services, arbitration, forms and applications, documents and data, FOIA, about-us and regional office pages. 117 records at the time of harvest. This is the closest thing FMCS publishes to a machine-readable index of its own programme documentation.
      tags:
      - Pages
      security:
      - {}
      parameters:
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        required: false
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        required: false
        schema:
          type: string
          format: date-time
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: menu_order
        in: query
        description: Limit result set to posts with a specific menu_order value.
        required: false
        schema:
          type: integer
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        required: false
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        required: false
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        required: false
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        required: false
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
      - name: page
        in: query
        description: Current page of the collection.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: search
        in: query
        description: Limit results to those matching a string.
        required: false
        schema:
          type: string
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        required: false
        schema:
          type: string
          enum:
          - exact
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        required: false
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - dp-rewrite-republish
            - any
          default: publish
      responses:
        '200':
          description: List FMCS site pages — a page of records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPCollection'
          headers:
            X-WP-Total:
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the requested per_page size.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links; rel="next" and rel="prev" where applicable.
              schema:
                type: string
        '400':
          description: rest_invalid_param — a query parameter failed validation. Observed anonymously on 2026-09-09 for per_page=999.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      x-verified:
        url: https://www.fmcs.gov/wp-json/wp/v2/pages?per_page=1
        status: 200
        date: '2026-09-09'
      x-record-count:
        value: 117
        source: X-WP-Total response header
        observed: '2026-09-09'
  /wp/v2/pages/{id}:
    get:
      operationId: getPage
      summary: Get a single FMCS page
      description: Retrieve one page by its numeric WordPress ID, including rendered content and its parent/menu ordering.
      tags:
      - Pages
      security:
      - {}
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the page.
        schema:
          type: integer
      responses:
        '200':
          description: Get a single FMCS page — a single record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPObject'
        '400':
          description: rest_invalid_param — a query parameter failed validation. Observed anonymously on 2026-09-09 for per_page=999.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: Invalid ID — the record does not exist or is not public (e.g. rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      x-verified:
        url: https://www.fmcs.gov/wp-json/wp/v2/pages/39827
        status: 200
        date: '2026-09-09'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST error envelope. This API does NOT use RFC 9457 application/problem+json; errors are returned as application/json with this shape.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_invalid_param, rest_no_route, rest_post_invalid_id, rest_forbidden, rest_comment_disabled.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status, repeated in the body.
            params:
              type: object
              description: 'Present on rest_invalid_param: a map of offending parameter name to explanation.'
            details:
              type: object
              description: 'Present on rest_invalid_param: per-parameter code/message/data detail.'
    WPObject:
      type: object
      description: A single WordPress REST record.
    WPCollection:
      type: array
      description: A page of WordPress REST records. Page size is controlled by per_page (1-100, default 10) and page; the total count and page count are returned in the X-WP-Total and X-WP-TotalPages response headers, and RFC 8288 next/prev links in Link.
      items:
        type: object
