openapi: 3.2.0
info:
  title: FMCS Public Content API (WordPress REST) Search API
  version: wp/v2
  summary: The anonymous, read-only WordPress REST API serving www.fmcs.gov content — posts, programme pages, the document media library, the neutrals directory, events and the FMCS service taxonomy.
  description: The Federal Mediation and Conciliation Service publishes no developer programme, no API documentation and no machine-readable specification of its own.
  contact:
    name: FMCS Office of Public Affairs
    url: https://www.fmcs.gov/contact-us/
  license:
    name: U.S. Government Work (17 U.S.C. Sec. 105) — see FMCS website policies
    url: https://www.fmcs.gov/website-policies/
  x-provenance:
    method: derived
    source: https://www.fmcs.gov/wp-json/
    derived: '2026-09-09'
    verbatim_source_file: openapi/federal-mediation-and-conciliation-service-wp-routes-original.json
    note: Derived by API Evangelist from the live WordPress route discovery document served by www.fmcs.gov. Not authored, published or endorsed by FMCS.
servers:
- url: https://www.fmcs.gov/wp-json
  description: WordPress REST root for www.fmcs.gov. Verified reachable and 200 on 2026-09-09 with no credentials.
security:
- {}
tags:
- name: Search
  description: Cross-type site search.
paths:
  /wp/v2/search:
    get:
      operationId: search
      summary: Search FMCS site content
      description: Cross-type site search returning lightweight {id, title, url, type, subtype} hits across posts, pages and the custom post types. 52 hits for `mediation` on 2026-09-09.
      tags:
      - Search
      security:
      - {}
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: include
        in: query
        description: Limit result set to specific IDs.
        required: false
        schema:
          type: array
          items:
            type: integer
      - name: page
        in: query
        description: Current page of the collection.
        required: false
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 10
      - name: search
        in: query
        description: Limit results to those matching a string.
        required: false
        schema:
          type: string
      - name: subtype
        in: query
        description: Limit results to items of one or more object subtypes.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - post
            - page
            - wpbdp_listing
            - event
            - avada_portfolio
            - avada_faq
            - category
            - post_tag
            - wpbdp_category
            - wpbdp_tag
            - espresso_event_categories
            - espresso_venue_categories
            - espresso_event_type
            - portfolio_category
            - portfolio_skills
            - portfolio_tags
            - faq_category
            - any
          default: any
      - name: type
        in: query
        description: Limit results to items of an object type.
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
      responses:
        '200':
          description: Search FMCS site content — a page of records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPCollection'
          headers:
            X-WP-Total:
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the requested per_page size.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links; rel="next" and rel="prev" where applicable.
              schema:
                type: string
        '400':
          description: rest_invalid_param — a query parameter failed validation. Observed anonymously on 2026-09-09 for per_page=999.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
      x-verified:
        url: https://www.fmcs.gov/wp-json/wp/v2/search?search=mediation&per_page=1
        status: 200
        date: '2026-09-09'
components:
  schemas:
    WPError:
      type: object
      description: The WordPress REST error envelope. This API does NOT use RFC 9457 application/problem+json; errors are returned as application/json with this shape.
      required:
      - code
      - message
      - data
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_invalid_param, rest_no_route, rest_post_invalid_id, rest_forbidden, rest_comment_disabled.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status, repeated in the body.
            params:
              type: object
              description: 'Present on rest_invalid_param: a map of offending parameter name to explanation.'
            details:
              type: object
              description: 'Present on rest_invalid_param: per-parameter code/message/data detail.'
    WPCollection:
      type: array
      description: A page of WordPress REST records. Page size is controlled by per_page (1-100, default 10) and page; the total count and page count are returned in the X-WP-Total and X-WP-TotalPages response headers, and RFC 8288 next/prev links in Link.
      items:
        type: object
